.quote-container {
  background-color: var(--light-blue);
  margin: 20px -30px;
  padding: 30px 30px 50px 30px;
}

.quote-container img {
  margin-bottom: 15px;
}

.fa-quote-right {
  float: right;
}

.about_info {
  margin-top: 30px;
}

.about_contributions {
  margin-top: 50px;
}

.contribution {
  background-color: var(--blue);
  padding: 10px 25px;
  margin-top: 30px;
  border-radius: 5px;
}

.about_contributions h2,
.about_contributions p {
  color: var(--white);
  text-align: center;
}

.question-container {
  background-color: var(--black);
  margin: 30px -30px 0 -30px;
  padding: 30px;
  background-image: url(../images/about/about_question.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  background-position-x: 190px;
  background-position-y: -40px;
}

.question-container h2,
.question-container p {
  color: var(--white);
  max-width: 70%;
}

.question-container p {
  margin-bottom: 50px;
}

.cta-contact {
  background-color: var(--white);
  padding: 7px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

/*tablet*/
@media only screen and (min-width: 600px) {
  .header_container {
    background-image: url(../images/about/about_cover.jpg);
    background-position-y: center;
  }
}
