.quote-container {
  background-color: var(--light-blue);
  margin: 20px -30px;
  padding: 30px 30px 50px 30px;
  color: var(--blue);
}

.quote-container p {
  color: var(--blue);
  font-style: italic;
}

.quote-container img {
  margin-bottom: 15px;
}

.fa-quote-right {
  float: right;
}

.about_info {
  margin-top: 30px;
}

.about_contributions {
  margin-top: 50px;
}

.contribution {
  background-color: var(--blue);
  padding: 10px 25px;
  margin-top: 30px;
  border-radius: 5px;
}

.about_contributions h2,
.about_contributions p {
  color: var(--white);
  text-align: center;
}

.question-container {
  background-color: var(--black);
  margin: 30px -30px 0 -30px;
  padding: 30px;
  background-image: url(../images/about/about_question.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  background-position-x: 190px;
  background-position-y: -40px;
}

.question-container h2,
.question-container p {
  color: var(--white);
  max-width: 70%;
}

.question-container p {
  margin-bottom: 50px;
}

/*screen sizes*/

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .contribution {
    max-width: 450px;
    margin: 50px auto;
  }
}

@media only screen and (min-width: 600px) {
  .header_container {
    background-image: url(../images/about/about_cover.jpg);
    background-position-y: center;
    margin-bottom: 80px;
  }

  .quote-container {
    margin: 60px -60px;
    padding: 30px 60px 60px 60px;
  }

  .quote-container img {
    margin-bottom: 50px;
  }

  .question-container {
    margin-left: -60px;
    margin-right: -60px;
    height: 250px;
    background-position-y: -100px;
  }

  .question-container h2,
  .question-container p {
    max-width: 50%;
  }
}

@media only screen and (min-width: 800px) {
  .quote-container,
  .quote-container {
    display: flex;
    margin-bottom: 0;
  }

  .quote-container img {
    margin-bottom: -30px;
  }

  .quote-container_image,
  .quote-container_text {
    flex: 1;
    margin: auto;
    padding: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .question-container {
    height: 300px;
    background-position-y: -190px;
    background-position-x: 280px;
    padding-left: 100px;
    padding-top: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .quote-container,
  .question-container {
    margin-left: -110px;
    margin-right: -110px;
    padding-left: 90px;
    padding-right: 90px;
  }

  .question-container {
    background-size: 600px;
    background-position-y: center;
    background-position-x: right;
  }

  .contribution {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px 100px;
  }

  .contribution h2,
  .contribution p {
    text-align: left;
  }
}

@media only screen and (min-width: 1500px) {
  .about_info {
    margin: 50px 100px;
  }

  .quote-container,
  .question-container {
    margin: 0;
  }
  .question-container h2,
  .question-container p,
  .question-container a {
    margin-left: 10px;
  }
}
