.exhibition_purplesection {
  background-color: var(--light-purple);
  margin: 0 -30px;
  padding: 20px 30px;
}

.exhibition_whitesection {
  padding-top: 20px;
  margin-bottom: 20px;
}

.exhibition_container p {
  color: var(--dark-purple);
}

main img {
  min-width: 100%;
}

/*tablet*/
@media only screen and (min-width: 600px) {
  .header_container {
    background-image: url(../images/exhibitions/exhibitions_cover.jpg);
    background-position-y: center;
  }

  .exhibition_container {
    margin: 0 -60px;
    padding: 30px 60px 50px 60px;
  }

  .exhibition_container p {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 800px) {
  .exhibition_container {
    display: flex;
  }

  .exhibit_text {
    flex: 1;
  }

  .exhibit_image {
    flex: 1;
    margin: auto;
    padding-left: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .exhibition_container {
    margin: 0 -110px;
    padding: 50px 110px;
  }
}

@media only screen and (min-width: 1500px) {
  .header_container {
    margin-bottom: 50px;
  }

  .exhibition_container {
    border: 3px solid var(--light-purple);
    border-radius: 5px;
    margin: 50px 0 0 0;
  }

  .exhibition_container img {
    border-radius: 5px;
  }
}
