.exhibition_purplesection {
  background-color: var(--light-purple);
  margin: 0 -30px;
  padding: 20px 30px;
}

.exhibition_whitesection {
  padding-top: 20px;
  margin-bottom: 20px;
}

main img {
  min-width: 100%;
}

/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .header_container {
    background-image: url(../images/exhibitions/exhibitions_cover.jpg);
    background-position-y: center;
  }
}
