main {
  background-color: var(--black);
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 15px 50px 15px;
}

main h1,
main h2,
main p {
  color: var(--white);
}

.explore_heading {
  background-image: url(../images/explore/explore_astronaut.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  background-position-x: right;
  background-position-y: top;
  margin-right: -30px;
}

.explore_heading h1,
.explore_heading p {
  width: 55%;
  position: relative;
  top: 50px;
  margin-left: 20px;
}

.explore-visit,
.visit_starclub {
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: auto;
}

.visit_kids,
.visit_starclub,
.visit_teachers {
  margin-bottom: 70px;
}

.explore-visit {
  padding-bottom: 40px;
}

.visit_kids {
  background-color: var(--red);
  margin-top: 50px;
}

.visit_starclub {
  background-color: var(--dark-purple);
  display: flex;
}

.visit_teachers {
  background-color: var(--green);
}

.visit_researchers {
  background-color: var(--blue);
}

.starclub_text {
  flex: 2;
}

.starclub_image {
  flex: 1;
  padding-left: 10px;
  padding-top: 20px;
}

.visit_starclub img {
  border-radius: 5px;
}

.explore-text {
  padding-bottom: 40px;
}

.explore_image {
  margin-top: 50px;
}

#explorekids,
#exploreteachers,
#exploreresearchers {
  position: relative;
  top: -100px;
}

/*Screen sizes*/
@media only screen and (min-width: 600px) {
  main {
    margin: 0 -50px;
    padding: 50px;
  }

  .explore_heading {
    height: 300px;
    background-position-x: 390px;
    background-position-y: top;
    margin-right: -30px;
  }

  .explore_heading h1,
  .explore_heading p {
    width: 55%;
    position: relative;
    top: 50px;
    margin-left: 100px;
  }

  .explore-visit,
  .visit_starclub {
    padding: 20px 40px 50px 40px;
  }

  .visit_starclub h2,
  .visit_starclub p {
    max-width: 60%;
  }
}

@media only screen and (min-width: 650px) {
  .explore_heading {
    background-position-x: right;
  }
}

@media only screen and (min-width: 800px) {
  .explore-visit,
  .visit_starclub {
    max-width: 600px;
  }
}

@media only screen and (min-width: 900px) {
  .explore-visit,
  .visit_starclub {
    display: flex;
    max-width: 920px;
  }

  .explore_text {
    flex: 1;
    padding-right: 30px;
  }

  .explore_image {
    flex: 1;
    margin: auto;
  }

  .explore_image img {
    border-radius: 5px;
  }

  .explore_text,
  .starclub_text {
    margin: auto;
  }

  .visit_starclub img {
    border-radius: 1000px;
  }

  .visit_starclub {
    border-radius: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  body,
  .black-background {
    background-color: var(--black);
  }

  footer .fab,
  footer p {
    color: var(--white);
  }

  main {
    margin: 0 -50px;
    padding-top: 100px;
    padding-bottom: 0;
  }

  .explore_heading h1,
  .explore_heading p {
    width: 55%;
    margin-left: 200px;
  }

  .explore-visit,
  .visit_starclub {
    max-width: 1000px;
    margin: 50px auto;
  }

  .visit_starclub img {
    max-height: 350px;
  }

  .explore_text,
  .starclub_text {
    margin: auto;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1500px) {
  main {
    margin: 0;
    padding: 0;
  }
  .explore_heading h1 {
    padding-top: 100px;
  }

  .explore_heading h1,
  .explore_heading p {
    margin: auto;
    text-align: center;
    margin-top: 50px;
  }

  .explore_heading {
    background-size: 350px;
    background-position-y: 65px;
    background-position-x: right;
    height: 450px;
    margin: 0 -100px;
  }
}
