h2 {
  margin-top: 50px;
}

.home-hours {
  line-height: 1.25rem;
}

.cta-visit {
  background-color: var(--dark-purple);
}

/*Explore*/

.home_explore {
  background-color: var(--black);
  margin: 40px -30px 10px -30px;
  padding: 30px 20px;
  background-image: url('../images/explore/explore_astronaut.jpg');
  background-size: 270px;
  background-repeat: no-repeat;
  background-position-x: 220px;
  background-position-y: 50px;
}

.home_explore h2 {
  color: var(--white);
  text-align: center;
  margin-top: 10px;
}

.explore-cta {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  margin-top: 40px;
  margin-left: 15px;
}

.cta_red,
.cta_green,
.cta_blue {
  color: var(--white);
  padding: 20px 40px;
  margin-bottom: 20px;
}

/*Explore*/

.new_heading {
  text-align: center;
}

.home_news {
  background-color: var(--dark-purple);
  padding: 20px;
  margin: 30px -10px;
  border-radius: 5px;
}

.home_news p {
  color: var(--white);
}

.star_icon {
  max-width: 12%;
  position: relative;
  float: right;
  top: -40px;
}

/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .header_container {
    background-image: url(../images/home/homepage_cover.jpg);
    background-position-y: -60px;
  }
}
