h2 {
  margin-top: 50px;
}

.home-hours {
  line-height: 1.25rem;
}

.home_explore {
  background-color: var(--light-purple);
  margin: 40px -30px 10px -30px;
  padding: 30px 20px;
}

.home_explore h2 {
  margin: 10px auto 25px auto;
  text-align: center;
}

.home_explore a {
  color: var(--white);
}

.explore-list {
  padding: 30px;
  display: flex;
  align-items: center;
}

.explore-list_text {
  flex: 1;
  text-align: left;
  flex-grow: 2;
}

.explore-list_image {
  flex: 2;
  text-align: right;
  flex-grow: 1;
}

.new_heading {
  text-align: center;
}

.home_news {
  background-color: var(--black);
  padding: 20px;
  margin: 30px -10px;
  border-radius: 5px;
}

.home_news p {
  color: var(--white);
}

.star_icon {
  max-width: 12%;
  position: relative;
  float: right;
  top: -40px;
}
