@import 'imports/variables.css';

@font-face {
  font-family: 'Orbitron SemiBold';
  src: url('../typography/Orbitron-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Orbitron Medium';
  src: url('../typography/Orbitron-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('../typography/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../typography/Montserrat-SemiBold.ttf') format('truetype');
}

body {
  margin: 0 20px;
}

/*Navigation*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  height: 75px;
}

nav {
  display: none;
  position: absolute;
  top: 75px;
  background: var(--white);
  z-index: 100;
  right: 0px;
  text-align: center;
}

.logo {
  max-height: 50px;
}

nav ul {
  padding: 0;
}

nav li {
  display: block;
  padding: 5px 40px;
  margin-top: 20px;
  font-size: 0.75rem;
}

nav a {
  text-decoration: none;
}

#menu-bars:checked ~ nav {
  display: block;
}

#menu-bars {
  display: none;
}

.fa-bars {
  font-size: 1.25rem;
  color: var(--black);
}

.current {
  background-color: var(--light-purple);
  border-radius: 5px;
  padding: 10px;
}

/*General styles*/

main {
  margin: 0 10px;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Orbitron SemiBold', Verdana, Tahoma, sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: 'Orbitron Medium', Verdana, Tahoma, sans-serif;
  color: var(--purple);
  font-size: 1rem;
}

h3 {
  font-family: 'Montserrat SemiBold', Verdana, Tahoma, sans-serif;
  color: var(--white);
  font-size: 0.875rem;
}

p,
li,
a,
label,
form option,
.cta {
  font-family: 'Montserrat Regular', Verdana, Tahoma, sans-serif;
  color: var(--black);
}

p,
li,
a,
label,
form option,
.cta {
  font-size: 0.75rem;
}

.motto {
  font-size: 1rem;
  margin-top: -10px;
}

.cta {
  color: var(--white);
  background-color: var(--purple);
  padding: 7px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.visit-link,
.cta_send {
  margin-top: 30px;
}

.social-media {
  color: var(--purple);
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  margin: 25px 80px;
}

.explore_red {
  background-color: var(--red);
}

.explore_green {
  background-color: var(--green);
}

.explore_blue {
  background-color: var(--blue);
}
