@import 'imports/variables.css';

@font-face {
  font-family: 'Orbitron SemiBold';
  src: url('../typography/Orbitron-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Orbitron Medium';
  src: url('../typography/Orbitron-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('../typography/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../typography/Montserrat-SemiBold.ttf') format('truetype');
}

/*General styles*/

body {
  margin: 0 20px;
}

header {
  position: fixed;
  min-width: 100%;
  background-color: var(--white);
  height: 75px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid var(--light-purple);
}

nav {
  display: none;
  position: absolute;
  top: 76px;
  background: var(--dark-purple);
  z-index: 50;
  right: 0px;
  text-align: center;
  min-width: 211px;
  border-radius: 0 0 5px 5px;
}

.logo {
  max-height: 50px;
  padding-left: 20px;
}

nav ul {
  padding: 0;
}

nav li {
  display: block;
  padding: 10px 60px;
  margin-top: 20px;
  font-size: 0.75rem;
}

nav a {
  text-decoration: none;
  color: var(--white);
}

#menu-bars:checked ~ nav {
  display: block;
}

#menu-bars {
  display: none;
}

.fa-bars {
  font-size: 1.25rem;
  color: var(--black);
  padding-right: 40px;
}

.current {
  border: 2px solid var(--light-purple);
  border-radius: 5px;
  padding: 10px;
}

main {
  margin: 75px 10px 5px 10px;
}

img {
  max-width: 100%;
}

.cover-image {
  max-width: 120%;
  margin: auto -30px;
}

h1 {
  font-family: 'Orbitron SemiBold', Verdana, Tahoma, sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-family: 'Orbitron Medium', Verdana, Tahoma, sans-serif;
  color: var(--dark-purple);
  font-size: 1rem;
}

h3 {
  font-family: 'Montserrat SemiBold', Verdana, Tahoma, sans-serif;
  color: var(--white);
  font-size: 0.875rem;
}

p {
  line-height: 2;
}

p,
li,
a,
label,
form option,
.cta {
  font-family: 'Montserrat Regular', Verdana, Tahoma, sans-serif;
  color: var(--black);
}

p,
li,
a,
label,
form option,
.cta {
  font-size: 0.75rem;
}

.motto {
  font-size: 1rem;
  margin-top: -10px;
}

.larger-text {
  font-size: 0.875rem;
}

.cta {
  color: var(--white);
}

.cta-contact {
  background-color: var(--white);
  border: 1px solid var(--white);
}

.cta,
.cta-contact {
  padding: 7px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.cta:hover,
.cta-contact:hover {
  background-color: transparent;
}

.cta-contact:hover {
  color: var(--white);
}

.visit-link,
.cta_send {
  margin-top: 30px;
}

.explore_red,
.cta_red {
  background-color: var(--red);
}

.explore_green,
.cta_green {
  background-color: var(--green);
}

.explore_blue,
.cta_blue {
  background-color: var(--blue);
}

footer {
  padding-top: 40px;
  max-width: 350px;
  text-align: center;
  margin: auto;
}

footer p {
  font-size: 0.5rem;
  color: var(--dark-purple);
  margin-bottom: -8px;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin: 25px 80px;
}

.social-media_icon {
  color: var(--dark-purple);
  font-size: 2rem;
}

#contact {
  position: relative;
  top: -100px;
}

.screen-reader {
  display: none;
}

/*Screen sizes*/
@media only screen and (min-width: 600px) {
  body {
    margin: 0 50px;
  }

  main {
    position: relative;
    top: -20px;
  }

  header {
    height: 80px;
  }

  .header_container {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    margin: 100px -60px 0 -60px;
  }

  .header_text {
    background-color: var(--white);
    position: relative;
    padding: 10px 60px;
    top: 299px;
    max-width: 50%;
  }

  .logo {
    padding-left: 40px;
  }

  .cover-image {
    display: none;
  }

  .fa-bars {
    padding-right: 70px;
    font-size: 1.5rem;
  }

  nav {
    top: 80px;
    min-width: 250px;
  }

  nav li {
    margin-bottom: 25px;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2,
  .motto {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  p,
  li,
  a,
  label,
  form option,
  .cta {
    font-size: 0.75rem;
  }

  .larger-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .header_text {
    top: 287px;
  }

  h1 {
    font-size: 1.875rem;
  }

  h2,
  .motto {
    font-size: 1.375rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p,
  label,
  form option,
  .cta {
    font-size: 0.875rem;
  }

  .larger-text {
    font-size: 1.25rem;
  }

  footer p {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: 1000px;
    margin: auto;
    background-color: var(--light-purple);
  }

  .white-background {
    background-color: var(--white);
    padding: 20px;
  }

  nav {
    top: 0;
    background: none;
    display: inline;
    margin-right: 110px;
  }

  nav ul {
    padding: 0;
    padding-right: 40px;
  }

  nav li {
    display: inline-flex;
    padding-right: 10px;
    margin-top: 0;
    font-size: 0.75rem;
  }

  nav a {
    color: var(--black);
  }

  nav a:hover {
    text-decoration: overline wavy 2px var(--light-purple);
  }

  header .fas {
    display: none;
  }

  .current {
    border: 0;
    position: relative;
    background-color: var(--light-purple);
    margin-left: -10px;
    margin-right: -10px;
  }

  .logo {
    max-height: 60px;
    padding-left: 150px;
  }

  .header_container {
    height: 550px;
    margin: 0;
  }

  .header_text {
    top: 382px;
    padding-top: 15px;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    max-width: 1300px;
  }

  .header_text {
    top: 370px;
  }

  h1 {
    font-size: 2rem;
  }

  h2,
  .motto {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  p,
  li,
  a,
  label,
  form option,
  .cta,
  .cta-contact {
    font-size: 1rem;
  }

  .larger-text {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1700px) {
  .logo {
    margin-left: 210px;
  }

  nav ul {
    padding-right: 250px;
  }
}

@media only screen and (min-width: 2200px) {
  .logo {
    margin-left: 370px;
  }

  nav ul {
    padding-right: 430px;
  }
}
