.admission {
  background-color: var(--light-blue);
  margin: 30px -30px 0 -30px;
  padding: 20px 30px;
  display: flex;
}

.admission img {
  border-radius: 1000px;
}

.admission-image {
  flex: 1;
  position: relative;
  top: 20px;
  padding-left: 10px;
}

.admission-info {
  flex: 2;
}

.visit_container {
  margin: 0 -30px 30px -30px;
  background-image: url(../images/visit/visit_location.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  background-position-x: center;
  padding: 20px 5px;
}

.visit_info {
  background-color: var(--white);
  padding: 20px;
  max-width: 45%;
  border-radius: 5px;
  margin: 20px 20px 20px 25px;
}

.heading_hours {
  margin-top: 50px;
}

.accessibility {
  background-color: var(--blue);
  color: var(--white);
}

.accessibility h2,
.accessibility p {
  color: var(--white);
}

.food,
.shop {
  background-color: var(--light-purple);
}

.food h2,
.food p,
.shop h2,
.shop p {
  color: var(--purple);
}

.accessibility,
.food,
.shop {
  border-radius: 5px;
  padding: 20px 30px;
  margin-top: 40px;
  display: flex;
}

.info_text {
  flex: 2;
}

.info_image {
  flex: 1;
  margin: auto;
  padding-left: 20px;
}

.food img,
.shop img {
  border-radius: 1000px;
}

.fa-wheelchair {
  font-size: 3.5rem;
}

/*Contact*/
.contact {
  background-color: var(--light-blue);
  margin: 50px -30px 0 -30px;
  padding: 20px 30px;
}

.contact h2,
label {
  color: var(--blue);
}

.form-wrapper > * {
  display: flex;
  flex-direction: column;
}

form input,
select,
textarea {
  border-radius: 5px;
  border: 2px solid var(--blue);
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px 5px;
}

textarea {
  width: 96%;
  height: 85px;
  margin-bottom: 40px;
}

.cta-send {
  background-color: var(--blue);
}

form,
.contact h2 {
  max-width: 450px;
  margin: auto;
}

.contact h2 {
  margin-bottom: 30px;
}

/*screen sizes*/
@media only screen and (max-width: 599px) {
  .admission,
  .accessibility,
  .food,
  .shop {
    flex-direction: column;
  }

  .admission img {
    max-width: 60%;
    margin-bottom: 50px;
  }

  .info_image {
    position: relative;
    max-width: 70%;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .accessibility img {
    max-width: 60%;
  }

  .container {
    text-align: center;
  }

  .food img,
  .shop img {
    max-width: 200px;
  }
}

/*tablet*/
@media only screen and (min-width: 600px) {
  .header_container {
    background-image: url(../images/visit/visit_cover.jpg);
    background-position-y: center;
  }

  .admission,
  .visit_container {
    margin: 0 -60px;
    padding: 60px;
  }

  .admission-image {
    margin-left: 30px;
  }

  .admission img {
    max-height: 280px;
  }

  .visit_info {
    max-width: 320px;
    margin-left: 0;
    padding-left: 30px;
  }

  .container {
    max-width: 670px;
    margin: 40px auto;
  }

  .container img {
    max-width: 160px;
    margin-left: 30px;
  }

  .accessibility img {
    max-width: 140px;
    margin-left: 50px;
  }

  .contact {
    margin: 0 -60px;
    padding: 30px 90px;
  }
}

@media only screen and (min-width: 1200px) {
  .admission,
  .visit_container {
    margin: 0 -110px;
    padding: 60px 110px;
  }

  .admission img {
    max-height: 350px;
  }

  .contact {
    margin: 0 -110px;
  }

  .contact h2 {
    text-align: center;
    margin: 30px auto 50px auto;
  }

  .contact-inputs {
    margin-right: 50px;
    min-width: 300px;
  }

  .contact-message {
    margin-left: 50px;
    min-width: 300px;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
  }

  textarea {
    height: 185px;
  }

  .cta-send {
    margin-left: -125px;
  }
}

@media only screen and (min-width: 1500px) {
  .admission,
  .visit_container,
  .contact {
    margin: 0;
  }
}
