:root {
  --white: #fff;
  --black: #161616;
  --dark-purple: #38245e;
  --purple: #564479;
  --light-purple: #d3cedc;
  --light-blue: #deeefc;
  --blue: #224573;
  --red: #a4243b;
  --green: #157145;
  --yellow: #ad560b;
}
